@import (inline) "npm://chartist/dist/chartist.min.css";

.ct-series {
  .colorPitch(@type, @color) {
    &.@{type} {
      .ct-line, .ct-point { stroke: @color; }
    }
  }
  .colorPitch(Fastball, @fastball);
  .colorPitch(Curveball, @curve);
  .colorPitch(Sinker, @sinker);
  .colorPitch(Slider, @slider);
  .colorPitch(Changeup, @change);

  @media @mobile {
    .ct-line {
      stroke-width: 2px;
    }
    .ct-point {
      stroke-width: 4px;
    }
  }
}

.color-key {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;

  li {
    display: inline-block;
    margin: 0 8px;
  }

  .icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: text-top;

    &.Fastball { background: @fastball}
    &.Curveball { background: @curve }
    &.Sinker { background: @sinker }
    &.Slider { background: @slider }
    &.Changeup { background: @change }
  }
}

.source {
  color: @df-dark-gray;
  font-size: 15px;
  margin-top: 20px;
}