.pitch-animation {
  float: right;
  max-width: 30%;
}

.pitch-feature {
  clear: both;

  .stats {
    font-family: @df-sans;
    font-size: 14px;
    border-collapse: collapse;

    th, td {
      border: 1px solid @df-middle-gray;
      padding: 3px 8px;
      text-align: right;
    }

    th {
      background: @df-dark-gray;
      color: @df-off-white;
    }
  }
}