@import "seattletimes";

@change: #f88a47;
@curve: black;
@cutter: #56617d;
@fastball: #269ba5;
@sinker: #f3d878;
@slider: #395b91;

@import "header";
@import "main";
@import "interactive";
@import "graphs";
@import "videos";
@import "footer";

.constrained {
  max-width: 800px;
  padding-top: 20px;
  margin: auto;

  @media @tablet {
    margin: 0 16px;
  }
}

footer.nav-bottom {
  clear: both;
}
