<aside class="interactive pitch-graph">

  <h2>Pitch counts by year</h2>
  <p>Over time, Felix has relied less on his slider--and more on his changeup.
  <div class="ct-chart count-chart ct-major-twelfth"></div>
  <%= t.include("_key.html") %>

  <h2>Pitch speed by year</h2>
  <p>Although his speed has dropped overall, that changeup remains relatively speedy, especially in comparison to his fastball. On average, the difference between the two last year was only five miles an hour.
  <div class="ct-chart speed-chart ct-major-twelfth"></div>
  <%= t.include("_key.html") %>

</aside>