<aside class="interactive pitch-graph">

  <h2>Pitch counts by year</h2>
  <p>Over time, Felix has relied less on his fastball and sinker, and more on his changeup &mdash; a pitch that has become one of the most effective in baseball.
  <div class="ct-chart count-chart ct-major-twelfth"></div>
  <%= t.include("_key.html") %>

  <h2>Pitch speed by year</h2>
  <p>Though his pitch speed has dropped overall, the changeup remains relatively speedy, especially in comparison to his fastball. Last year, the difference between the two was only 5 MPH.
  <div class="ct-chart speed-chart ct-major-twelfth"></div>
  <%= t.include("_key.html") %>

</aside>
