<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <%= t.include("partials/_nav.html") %>

    <%= t.include("partials/_ad.html", { type: "banner" }) %>

    <header class="splash">
      <h1 class="constrained">Better with age?</h1>

      <div class="video-container">
        <iframe src='//players.brightcove.net/1509317113/VkZ4EROte_default/index.html?videoId=4833217872001'
        allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe>
      </div>
      
      <h2 class="constrained">As he turns 30, Mariners' Felix Hernandez remains a consistent force</h2>
      <div class="byline constrained">
        By Ryan Divish
        <div class="role">Seattle Times staff reporter</div>
      </div>
    </header>

    <main>

      <div class="constrained">

        <img src="./assets/Felix-animated.gif" class="pitch-animation">

        <%= markdown.storyIntro %>

      </div>


      <div class="constrained">

        <%= t.include("_pitches.html") %>

        <%= t.include("partials/_ad.html", { type: "square" }) %>

        <%= markdown.storyDurability %>

        <%= t.include("_graphs.html") %>

        <%= markdown.storyPitching %>

      </div>

      <img src="./assets/felixdrawing.jpg" class="sketch">
      <div class="credit constrained">Susan Jouflas / The Seattle Times</div>

    </main>

    <footer class="closing constrained">
      <ul class="credits">
        <li> Reporting: Ryan Divish
        <li> Data: Thomas Wilburn
        <li> Video: Bettina Hansen, Katie G. Cotteril
        <li> Production: Sean Quinton
      </ul>
    </footer>

    <%= t.include("partials/_navBottom.html") %>

    <script>
window.pitchCounts = <%= JSON.stringify(json.FelixPitches_Yearly) %>;
    </script>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
